* {
    box-sizing: border-box;
    top: 0;
    right: 0;
    margin: 0;
}

body {
    background: #dc0a2d;
}
.navbar {
    user-select: none;
    /* background: #ef5350; */
    background: #f32925;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
    /* margin-right: 0; */
    min-width: 100%;
    height: 3.125rem;
}

.navbar-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.navbar-item 
{
    /* align-self: center; */
    align-items: center;
    text-align: center;
    color: white;
    margin: auto 1em;
    width: 100%;
    height: 100%;
    padding: 1em 0;

}
.navbar-item:hover
{
    background: #ef5350;
}

.navbar-logo 
{
    /* align-self: center; */
    align-items: center;
    text-align: center;
    color: white;
    margin: auto 1em;
    width: 100%;
    height: 100%;
    /* padding: 1em 0; */

}

.navbar-logo > img {
    height: 100%;
    /* width: 100%; */
}

.active {
    background: #ef5350;
}

a {
    text-decoration: none;
    color: white;
}

.modal-gallery {

    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    border-radius: 0 0 1em 1em;
    min-height: 90vh;
    padding: 1em 1em;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    background: #FFF;
    /* display: flex;
    flex-flow: row wrap;
} */
}
#pkmn {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.pkmnContainer {
    border: 1px solid #ccc;
    border-radius: .6em;
    height: 75px;
    width: 75px;
    background: #f9f9f9;
    display: flex;
    margin: .1em;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);

}

.pkmnContainer:hover {
    border: 1px solid red;
    /* transform: translateY(-.1em); */
    transform: scale(1.1);
    /* transform: translateZ(90deg); */
    cursor: pointer;
}

.sprite {
    width: 100%;
    margin: auto;
}

.loading {
    width: 100%;
}

.modal-cover {
    /* background: rgba(0,0,0,.5); */
    background: rgba(0,0,0,.7);
    z-index: 5;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
}

.modal-container {
    z-index: 6;
    margin-top: 3.125rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 900px;
    min-height: 50vh;
    height: 90%;
    border: 3px solid #FFF;
    border-radius: 1em;
    /* padding: 1em 1em; */
    box-shadow: 0 2x 2px rgba(0,0,0,.7);
    /* background: #FFF; */
    /* background: #DC0A2D; */
    /* background: #c00d0d; */
    background: #5e0000;
}

.modal-screen-left {
    background: #010101;
    /* background: #072401; */
    max-width: 400px;
    width:200px;
    max-height: 40vh;
    border: 3px solid #494949;
    color: white;
    overflow: hidden;
    text-shadow: 0 0 5px #C8C8C8;
    margin: 0 auto;
    border-radius: 1em;
    
}

.modal-screen-left-container {
    background: #b0b0b0;
    border-radius: .8em;
    width: 240px;
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 30px;
    box-shadow: 0 2x 2px rgba(0,0,0,.7);
    
}

.dex-screen-sprite {
    /* width: 25%; */
    width: 192px;
    /* border: 1px solid red; */
    display: block;
    margin: auto auto;

}

.spritebg {
    background: url("../img/spritebg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

.dex-box-curve {
    /* background: #010101; */
    border-right: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
    border-radius: 1em 0 2em 0;
    width: 250px;
    min-height: 4em;
    top: 0;
    left: 0;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#202123+2,000000+100 */
    background: #8b0000;

}

.dex-box-blue-circle {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a9e4f7+0,0fb4e7+100;Ble+3D+%235 */
    background: #a9e4f7; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #a9e4f7 0%, #0fb4e7 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #a9e4f7 0%,#0fb4e7 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #a9e4f7 0%,#0fb4e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



    border-radius: 50%;
    border: 3px solid #FFF;
    min-height: 3em;
    min-width: 3em;
    max-height: 3em;
    max-width: 3em;
    margin-left: .4em;
    margin-top: .4em;
    display: inline-block;
    float: left;

}

hr {
    /* color: #494949; */
    background: #494949;
    height: .2em;
    width: 80%;
    margin: 5px auto 5px auto;
    border: none;
    
}

.flavorText {
    color: white;
    font-family: 'pkmn_rbygscregular', 'Courier New', Courier;
    font-size: .5em;
    padding: 1.3em;
    background: #010101;
    border: 3px solid #494949;
    /* border-radius: 2em; */
    border-radius: 1.7em;
    text-shadow: 0 0 5px #C8C8C8;

    box-shadow: 0 2x 2px rgba(0,0,0,.7);
}

.small-red-dot {
    background: rgb(251,110,110);
    background: radial-gradient(circle, rgba(251,110,110,1) 14%, rgba(251,52,52,1) 100%);

    border-radius: 50%;
    min-height: 12px;
    min-width: 12px;
    max-height: 12px;
    max-width: 12px;

    margin-left: .5em;
    margin-top: .5em;
    display: inline-block;
}

.small-yellow-dot {
    background: rgb(251,251,128);
    background: radial-gradient(circle, rgba(251,251,128,1) 14%, rgba(251,251,74,1) 100%);

    border-radius: 50%;
    min-height: 12px;
    min-width: 12px;
    max-height: 12px;
    max-width: 12px;

    margin-left: .07em;
    margin-top: .5em;
    display: inline-block;
    
}
.small-green-dot {
    background: rgb(171,251,117);
    background: radial-gradient(circle, rgba(171,251,117,1) 14%, rgba(116,251,50,1) 100%);

    border-radius: 50%;
    min-height: 12px;
    min-width: 12px;
    max-height: 12px;
    max-width: 12px;

    margin-left: .07em;
    margin-top: .5em;
    display: inline-block;
}


.type {
    background: #0fb4e7;
    border: 1px solid black;
}

.pokeName {
    /* font-family: 'pkmn_rbygscregular', 'Courier New', Courier; */
    color: white;
    font-size: 3em;
    font-family: 'pkmn_rbygscregular', 'Courier New', Courier;
    /* font-size: .5em; */

}

.spriteContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    height: 100%;
    
}

.spriteDisplay {
    /* float: left; */
    display: none;
    /* border: 1px solid red; */

  
}

.spriteDisplayActive {
    display: flex;
    float: none;

}



i {
    border: solid #fff;
    border-width: 0 .6em .6em 0;
    display: inline-block;
    padding: .6em;
  }

i:hover {
    border: solid yellowgreen;
    border-width: 0 .6em .6em 0;
}

  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .arrow {
      /* background: rgba(0,0,0,0.5); */
      color: black;
      align-self: center;


  }

  .arrowContainer {
      /* align-content: center; */
      align-self: center;
  }

  .pokeSprite {
      align-self: center;
      /* border: 1px solid red; */
      width: 192px;

      align-content: center;
  }

  .pokeSprite  img {
      display: block;
      /* margin: auto auto; */
      margin-top: 50%;
      width: 200%;
      /* align-self: center; */
      
  }

  .spritebg {
    background: url("../img/spritebg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /* border: 1px solid blue; */
    height: 100%;
}